.idea
__pycache__/
helix.egg-info/
goguma1_git_token.txt
llm_sys/build
llm_sys/comm/build/CMakeCache.txt
llm_sys/comm/build/CMakeFiles
examples/real_sys/result/random_online/events.txt
llm_sys/comm/build/build
llm_sys/comm/llm_sys_comm
llm_sys/comm/src/LLM_system.egg-info/